#navbar{
    font-family: 'Orbitron', sans-serif;
    z-index: 10 !important
}

body{
    background-color: #292b2c !important;
    font-family: 'Orbitron', sans-serif !important;
    text-align: center !important;
    color: #d6d6d6 !important;
}

#home{
    
    text-align: center !important;
    font-size: 25px !important;
    width: 60%;
    opacity: 100% !important;
    margin:auto;
}



#post-div{
    margin:auto;
    width:75%;
    border-style: solid !important;
    border-color: #0275d8 !important;
    font-size: 20px !important;

}

#post-content{
    width:75%;
    margin:auto;
}

#carousel{
    width:70% !important;
    margin:auto;
    opacity:85%;
    border-style: solid !important;
    border-color: #0275d8 !important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #carousel{
        width:100% !important;
    }
  }

