body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    color: aliceblue;
    font-family: "Lucida Console", "Courier New", monospace;

}


.flip-horizontal{
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
}

h1{
    position: absolute;
}

* {
    padding: 0;
    margin: 0;
}

#game {
    display: none;
    margin: auto;
    width: 900px;
    height: 360px;
    border: 3px solid beige;
    border-radius: 2%;
    
    background-color: black;
    
}

#character {
    width: 90px;
    height: 90px;
    content: url(deni_push_red.gif);
    /* background-color: red; */
    position: relative;
    top: 270px;

}

/* class to use to add the animation to the character with js */
.animate {
    animation: jump 500ms;
}

@keyframes jump {
    0% {
        top: 270px;
    }

    30% {
        top: 180px;
    }

    70% {
        top: 180px;
    }

    100% {
        top: 270px;
    }
}

#block {
    width: 45px;
    height: 36px;
    content: url(block1.png);
    position: relative;
    top: 234px;
    left: 864px;
    animation: block 3s infinite linear;
}

@keyframes block {
    0% {
        left: 864px;
    }

    100% {
        left: -72px;
    }
}


#block-text{
    position: relative;
    
}

#blocktext{
    position: absolute;
    width: 36px;
    height: 45px;
    top: 207px;
    left: 864px;
    animation: block 3s infinite linear;
    font-size: 27px;
}
@keyframes blocktext {
    0% {
        left: 864px;
    }

    100% {
        left: -72px; 
    }
}


#LOGO{
    margin: auto;
    content: url(LOGO.gif);
}

#menu{
    margin: auto;
    
}

.menu-buttons {
    width: 180px;
    opacity: 90%;
    border-radius: 20%;
    background-color:firebrick; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 3px solid rgb(73, 14, 14);
  }

  .menu-buttons:hover{
    background-color:rgb(180, 77, 77);
    cursor: pointer;
  }


  #coin {
    width: 36px;
    height: 36px;
    content: url(coin.gif);
    position: relative;
    top: 90px;
    left: 864px;
    animation: block 3.5s infinite linear;
    display: none;
}

@keyframes coin {
    0% {
        left: 864px;
    }

    100% {
        left: -72px;
    }
}

#SHOP-LOGO{
    margin: auto;
    content: url(shop-logo.gif);
}

#coin-display{
   display: inline-block;
    margin: 0 auto;
    margin-left: -1.5%;
    
}

