body{
    
}

#button{
 margin-top: 70px;
}

#everything{
    position: fixed;
  top: 20%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
}

#select-bars{
    
    top: 50%;
    margin-top: 400px;
    
}

